<ul class="connect_ul">
	<li id="email" class="connnect_li"><%= mail_to "rogers@farmerrogers.com", "Email Ben Rogers", :encode => "hex", :suject => "Website contact" %></li>

	<li id="phone" class="connnect_li">510.999.4720</li>

	<li id="repositories" class="connnect_li"><%= link_to "repositorites", "http://www.github.com/farmerrogers" %></li>

	<li id="twitter" class="connnect_li"><%= link_to "twitter", "http://www.twitter.com/farmerrogers" %></li>
</ul>