
<div id="msg_div">
	<p id="msg">I make for a living.</br></br>User experience based web sites & apps,</br>music, audio tech, stagecraft,</br>manual print, book-binding, and typography</br></br>are some of the things that I like to do and make,</br>since I do what I like for a living.</p>
</div>