<ul class="nav_ul">
	<li id="connect" class="nav_li"><%= link_to "connect", connect_index_path %></li>
	<li id="portfolio" class="nav_li"><%= link_to "portfolio", portfolio_index_path %></li>
	<li id="resume" class="nav_li">resume.pdf</li>
</ul>

<div id="avater_div">
	<figure id="avatar" class="image"><%= image_tag("hail.png", :alt => "A photo of the earnest worker, so that you might better know he exists.") %></figure>
</div>

<div id="specs_div">
	<figure id="specs" class="image"><%= image_tag("specs.jpg", :alt => "Gianni Versace MOD. 343") %></figure>
</div>