<div id="index-nav">
	<ul>
		<li><%= link_to "connect", home_connect_path %></li>
		<li><a href="http://www.github.com/farmerrogers">repositorites</a></li>
		<li><%= link_to "portfolio", home_portfolio_path %></li>
	</ul>
</div>