// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'AshburyLig';
	src: asset-url('AshburyLig-webfont.eot', font);
	src: asset-url('AshburyLig-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('AshburyLig-webfont.woff', font) format('woff'),
		asset-url('AshburyLig-webfont.ttf', font) format('truetype'),
		asset-url('AshburyLig-webfont.svg#AshburyLig', font) format('svg');
	font-weight: normal;
	font-style: nromal;
}

@font-face {
	font-family: 'SofiaProLigCond';
	src: asset-url('SofiaProLigCond-webfont.eot', font);
	src: asset-url('SofiaProLigCond-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('SofiaProLigCond-webfont.woff', font) format('woff'),
		asset-url('SofiaProLigCond-webfont.ttf', font) format('truetype'),
		asset-url('SofiaProLigCond-webfont.svg', font) format('svg');
	font-weight: 300;
	font-style: nromal;
}

#line {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin-left: 10px;
	border-left: 5px solid #26eaea;
}

#name_div {
	width: 100%;
}

#name {
	color: #f88379;
	margin: 10px 0;
	padding: 8px 10px 8px 10px;
	width: absolute;
	background: #666;
}

#name a {
	color: #f88397;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	font-family: "SofiaProLigCond";
}

#specs {
	z-index: -2;
	width: 100%;
}

h1 {
	font-size: 60px;
	font-family: "AshburyLig";
}
