// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
	font-family: 'AshburyLig';
	src: asset-url('AshburyLig-webfont.eot', font);
	src: asset-url('AshburyLig-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('AshburyLig-webfont.woff', font) format('woff'),
		asset-url('AshburyLig-webfont.ttf', font) format('truetype'),
		asset-url('AshburyLig-webfont.svg#AshburyLig', font) format('svg');
}

@font-face {
	font-family: 'SofiaProLiCond';
	src: asset-url('SofiaProLiCond-webfont.eot', font);
	src: asset-url('SofiaProLiCond-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('SofiaProLiCond-webfont.woff', font) format('woff'),
		asset-url('SofiaProLiCond-webfont.ttf', font) format('truetype'),
		asset-url('SofiaProLiCond-webfont.svg', font) format('svg');
}


/* GLOBAL STYLES */



.all, body, p, table, div {
	font-size: 14pt;
	font-weight: normal;
	font-style: normal; 
}

body {
	margin:0;
}

img {
	max-width:100%;
}

#line {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin-left: 1.25%;
	border-left: 5px solid #26eaea;
}

#name_div {
	width: 100%;
}

#name {
	font-size: 200%;
	font-family: "AshburyLig";
	font-weight: 200;
	color: #f88379;
	margin: 1% 0;
	padding: 0.75% 1%;
	width: absolute;
	background: #666;
}

#name a {
	color: #f88397;
	text-decoration: none;
}

.nav_ul {
	list-style-type: none;
	margin:7.5% 0 0 0;
}

li a:link {color:#333;}
li a:visited {color:#888;}
li a:hover {color:#AAA;}

.nav_li {
	font-family: "SofiaProLiCond";
	font-size: 100%;
	margin:10% 0;
}

.image {

}

#avatar_div {

}

#avatar {
	z-index: 1;
}

#specs_div {

}

#specs {
	z-index: -3;
	position:absolute;
	top: 50%;
}

#msg_div {
	
}

#msg {
	visibility:hidden;
	font-size: 100%;
	font-family: "AshburyLig";
	font-weight: 200;
	color: #e7756c;
}

 
        /* PHONE PORTRAIT VERSION */
@media only screen and (min-width: 320px) and (orientation : portrait) {

	#line {

	}

	#name_div {

	}

	#name {

	}

	.nav_ul {

	}

	.nav_li {

	}

	.image {

	}

	#avatar_div {

	}

	#avatar {
		visibility: hidden;
	}

	#specs_div {

	}

	#specs {
		visibility: hidden;
	}

	#msg_div {
	
	}

	#msg {
		visibility:hidden;
	}
}

        /* PHONE LANDSCAPE VERSION */
@media only screen and (min-width: 320px) and (orientation : landscape) {
	#line {

	}

	#name_div {

	}

	#name {
		font-size:250%;
		padding: 0.5% 1%
	}

	.nav_ul {
		position:absolute;
		left: 5%;
		top: 15%;
	}

	.nav_li {
		font-size:125%;
		margin: 5.5% 0 5.5% 0;
	}

	.image {

	}

	#avatar_div {

	}

	#avatar {
		visibility:visible;
		position:absolute;
		left: 46%;
		top: 10%;
	}

	#specs_div {

	}

	#specs {
		visibility:hidden;
	}

	#msg_div {
	
	}

	#msg {
		visibility:hidden;
	}
}

        /* TABLET PORTRAIT VERSION */
@media only screen and (min-width: 750px) and (orientation : portrait) {
	#line {

	}

	#name_div {

	}

	#name {

	}

	.nav_ul {
		position:absolute;
		left: 5%;
		top: 2%;
	}

	.nav_li {
		font-size:1.5em;
		margin:40% 0;
	}

	.image {

	}

	#avatar_div {

	}

	#avatar {
		visibility:visible;
		position:absolute;
		left: 46%;
		top: 15%;
	}

	#specs_div {
		
	}

	#specs {
		visibility:visible;
		position:absolute;
		top:55%;
	}

	#msg_div {
	
	}

	#msg {
		visibility:hidden;
	}
}

        /* TABLET LANDSCAPE VERSION - not work, are the same as desktop */
@media only screen and (min-width: 768px) and (orientation : landscape) {

	#line {

	}

	#name_div {

	}

	#name {
		font-size:4.5em
	}

	.nav_ul {
		text-align:center;
		width:100%;
		padding:0;
		margin:0;
		position:absolute;
		top:110px;
		left:15px;
	}

	.nav_li {
		font-size:2.25em;
		margin-right:9.5%;
		display:inline;
		left: 2.5%;
		top: 5%
	}

	.image {

	}

	#avatar_div {
		position:absolute;
		top:35%;
		left:55%;
	}

	#avatar {

	}

	#specs_div {

	}

	#specs {
		visibility:visible;
		position:absolute;
		left:5%;
		top:45%;
	}

	#msg_div {
	
	}

	#msg {
		visibility:hidden;
	}
}

        /* DESKTOP VERSION */
@media only screen and (min-width: 980px) {
	#line {

	}

	#name_div {
		width:24em
	}

	#name {

	}

	.nav_ul {
		text-align:left;
		width:100%;
		padding:0;
		margin:0;
		position:absolute;
		top:110px;
		left:15px;
	}

	.nav_li {
		font-size:125%;
		margin-right:7.5%;
	}

	.image {

	}

	#avatar_div {
		position:absolute;
		top:45px;
		left:50%;
	}

	#avatar {

	}

	#specs_div {
		/* Rotate Div */
		transform:rotate(270deg);
		-ms-transform:rotate(270deg); /* IE9 */
		-webkit-transform:rotate(270deg); /* Safari and Chrome */
		width:112.5%;
	}

	#specs {

	}

	#msg_div {
		position:absolute;
		top:40%;
		left:8%;
	}

	#msg {
		visibility:visible;
	}
}