// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
	font-family: 'AshburyLig';
	src: asset-url('AshburyLig-webfont.eot', font);
	src: asset-url('AshburyLig-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('AshburyLig-webfont.woff', font) format('woff'),
		asset-url('AshburyLig-webfont.ttf', font) format('truetype'),
		asset-url('AshburyLig-webfont.svg#AshburyLig', font) format('svg');
}

@font-face {
	font-family: 'SofiaProLiCond';
	src: asset-url('SofiaProLiCond-webfont.eot', font);
	src: asset-url('SofiaProLiCond-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('SofiaProLiCond-webfont.woff', font) format('woff'),
		asset-url('SofiaProLiCond-webfont.ttf', font) format('truetype'),
		asset-url('SofiaProLiCond-webfont.svg', font) format('svg');
}


/* GLOBAL STYLES */

img {
	max-width: 100%;
	height: auto;
}

.all, body, p, table, div {
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

#line {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin-left: 1.25%;
	border-left: 5px solid #26eaea;
}

#name_div {
	width: 100%;
}

#name {
	color: #f88379;
	margin: 1% 0;
	padding: 0.75% 1%;
	width: absolute;
	background: #666;
}

#name a {
	color: #f88397;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	font-family: "SofiaProLiCond";
	font-size: 120%;
	padding: 1.25% 0 1.25% 0;
}

#avatar {
	z-index: -2;
}

#specs {
	z-index: -3;
	width: auto;
	height: auto;
}

h1 {
	font-size: 200%;
	font-family: "AshburyLig";
	font-weight: 200;
}


        /* PRINT VERSION */
@media print {
           
}
 
        /* PHONE PORTRAIT VERSION */
@media only screen and (min-width: 320px) and (orientation : portrait) {
	#avatar,
	#specs {
		visibility: hidden;
	}
}

        /* PHONE LANDSCAPE VERSION */
@media only screen and (min-width: 320px) and (orientation : landscape) {
	#specs {
		visibility: hidden;
	}
}

        /* TABLET PORTRAIT VERSION */
@media only screen and (min-width: 768px) and (orientation : portrait) {

}

        /* TABLET LANDSCAPE VERSION - not work, are the same as desktop */
@media only screen and (min-width: 768px) and (orientation : landscape) {

}

        /* DESKTOP VERSION */
@media only screen and (min-width: 980px) {

}