<!DOCTYPE html>
<html>
<head>
  <title>Ben Rogers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="name">
	<h1>BEN ROGERS</h1>
  </div>

<%= yield %>

</body>
</html>
